<!DOCTYPE html>
<html>
<link href="../assets/style.css" rel="stylesheet">

<head>
    <meta charset="utf-8">
    <title>Groupie Tracker</title>
    <link rel="icon" type="image/x-icon" href="../images/gu itar_icon.png">
</head>

<body>

<nav>
    <div class="nav">

        <div class="logo">
            <a id="logo" href="/">GROUPIE TRACKER</a>
        </div>

        <div class="searchBar">
            <form method="get" action="/">
                <input class="search" type="text" placeholder="recherche..." id="data" name="data" list="data-list" autocomplete="off">
                <datalist id="data-list">
                    {{with .Search}}
                        {{range .ArtistBandName}}
                            <option value="{{.}} - Artist/Groupe"></option>
                        {{end}}
                        {{range .Members}}
                            <option value="{{.}} - Membre"></option>
                        {{end}}
                        {{range .Location}}
                            <option value="{{.}} - Localisation"></option>
                        {{end}}
                        {{range .CreationDate}}
                            <option value="{{.}} - Date de Création"></option>
                        {{end}}
                        {{range .FirstAlbumDate}}
                            <option value="{{.}} - Premier Album"></option>
                        {{end}}
                    {{end}}
                </datalist>
            </form>
        </div>

        <div class="menu">
            <a href="/">Menu</a>
        </div>
    </div>
</nav>
</body>
</html>