<!DOCTYPE html>
<html>
<link href="../assets/style.css" rel="stylesheet">

<head>
    <meta charset="utf-8">
    <title>Groupie Tracker</title>
    <script type="text/javascript" src="../assets/style.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/guitar_icon.png">
</head>
<body>

<nav>
    <div class="nav">

        <div class="logo">
            <a id="logo" href="/">GROUPIE TRACKER</a>
        </div>

        <div class="searchBar">
            <form method="get" action="/">
                <input class="search" type="text" placeholder="recherche..."id="data" name="data" list="data-list" autocomplete="off">
                <datalist id="data-list">
                    {{with .Search}}
                        {{range .ArtistBandName}}
                            <option value="{{.}} - Artist/Groupe"></option>
                        {{end}}
                        {{range .Members}}
                            <option value="{{.}} - Membre"></option>
                        {{end}}
                        {{range .Location}}
                            <option value="{{.}} - Localisation"></option>
                        {{end}}
                        {{range .CreationDate}}
                            <option value="{{.}} - Date de Création"></option>
                        {{end}}
                        {{range .FirstAlbumDate}}
                            <option value="{{.}} - Premier Album"></option>
                        {{end}}
                    {{end}}
                </datalist>
            </form>
        </div>

        <div class="menu">
            <a href="/">Menu</a>
        </div>
    </div>
</nav>
<div id="conteneur">
    {{range .Artist}}
        <div onclick="window.location.href = '/artist/{{.Id}}';" class="box">
            <div class="scroll">
                <h2 id="{{.Id}}" onmouseover="mOver('{{.Id}}')" onmouseout="mOut('{{.Id}}')">{{.Name}}</h2>
            </div>
            <div class="img"><img src={{.Image}}></div>
        </div>
    {{end}}
</div>  
{{if not .Artist}}
    <div class="noResult">
        <h1>Pas de résultat</h1>
        Il n'y a pas de résultat pour votre recherche    
</div>

{{end}}
</body>
</html>